Write agrLand.json  
A json file with Country, cropland cover, tree canopy cover, agricultural land, and continent for all countries in World_vars

In [2]:
import pandas as pd

In [3]:
df = pd.read_pickle('World_vars.pkl')

In [4]:
df.head()

,Country,accessibility_to_cities,elevation,aspect,slope,cropland_cover,tree_canopy_cover,isothermality,rain_coldestQuart,rain_driestMonth,...,temp_max_warmestMonth,temp_mean_annual,temp_min_coldestMonth,temp_seasonality,temp_warmestQuart,temp_wettestQuart,sub-region,Continent,Continent_color,Agr_land
0,Russia,2143.587912,448.533542,178.456969,0.486310,7.381210,20.356473,19.351714,63.279186,15.345187,...,19.952679,-6.261876,-30.678512,145.221422,12.206959,11.549561,Eastern Europe,Europe,xkcd:blue,2177218.0
1,United States of America,638.757539,759.251226,166.560382,0.529687,19.743870,16.728462,32.952882,141.820680,28.787362,...,26.776731,6.602248,-12.277065,93.460602,18.518984,13.579272,Northern America,North America,xkcd:yellow,4058625.0
2,Canada,3220.715175,508.284763,169.290792,0.397220,3.796340,20.587476,19.862863,80.937465,19.612252,...,16.428661,-6.831690,-29.535063,128.934783,9.503740,7.649331,Northern America,North America,xkcd:yellow,626562.0
3,Antarctica,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Antarctica,Antarctica,xkcd:grey,0.0
4,Indonesia,504.884807,342.053688,168.270799,0.909755,13.240866,55.478882,84.942402,673.078720,136.174030,...,30.133801,24.993327,20.129455,4.163968,25.392019,24.934237,South-eastern Asia,Asia,xkcd:red,570000.0

In [5]:
df.columns

Index(['Country', 'accessibility_to_cities', 'elevation', 'aspect', 'slope',
       'cropland_cover', 'tree_canopy_cover', 'isothermality',
       'rain_coldestQuart', 'rain_driestMonth', 'rain_driestQuart',
       'rain_mean_annual', 'rain_seasonailty', 'rain_warmestQuart',
       'rain_wettestMonth', 'rain_wettestQuart', 'temp_annual_range',
       'temp_coldestQuart', 'temp_diurnal_range', 'temp_driestQuart',
       'temp_max_warmestMonth', 'temp_mean_annual', 'temp_min_coldestMonth',
       'temp_seasonality', 'temp_warmestQuart', 'temp_wettestQuart',
       'sub-region', 'Continent', 'Continent_color', 'Agr_land'],
      dtype='object')

In [7]:
df_a = df[['Country', 'cropland_cover', 'tree_canopy_cover', 'Agr_land', 'Continent']]
df_a.head()

,Country,cropland_cover,tree_canopy_cover,Agr_land,Continent
0,Russia,7.381210,20.356473,2177218.0,Europe
1,United States of America,19.743870,16.728462,4058625.0,North America
2,Canada,3.796340,20.587476,626562.0,North America
3,Antarctica,0.000000,0.000000,0.0,Antarctica
4,Indonesia,13.240866,55.478882,570000.0,Asia

In [14]:
df_a.shape

(243, 5)

In [12]:
df_a[df_a.notnull()].count()

Country              243
cropland_cover       243
tree_canopy_cover    243
Agr_land             243
Continent            243
dtype: int64

In [15]:
df_a.to_json('agrLand.json', orient='index')